In [1]:
# import time libraries
import time
from datetime import datetime
from time import gmtime, strftime

# Set Begin Time to Measure Time to Run of Whole Notebook
begin_time = time.time()

In [2]:
## Pull Relavent Libraries

# Standard Libraries
import pandas as pd
import numpy as np
import os
import math
import requests
from io import StringIO
#from StringIO import StringIO
import sys
import os.path
from IPython.display import display, HTML

# For Visualizations
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Other
import scipy
from scipy.stats import norm, skew #for some statistics
from scipy.special import boxcox1p
from datetime import timedelta

# For Confusion Matrix
from sklearn.metrics import confusion_matrix
import itertools

# Import Functions Built
from Functions import countplotshorizontal, null_values, histogram, stacked_bar, anova, spearman_df, spearman_chart, encode, QQ, plot_confusion_matrix

# Set Notebook Options
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))
pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x))
bold = "\033[1m"
reset = "\033[0;0m"

## Modeling Libraries
## Create _csv.reader object
import csv
%pylab inline

from itertools import combinations
from numpy import array,array_equal

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import ShuffleSplit
from sklearn import tree
from sklearn import metrics
from sklearn import ensemble
from sklearn import linear_model 
from sklearn import naive_bayes 

import xgboost as xgb
from xgboost.sklearn import XGBRegressor
import xgboost as feature_names

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, r2_score

Populating the interactive namespace from numpy and matplotlib

C:\Users\Armand\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['histogram', 'norm', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
# Read in the DataFrames
os.chdir(sys.path[0] + '\\Data')
# os.chdir('C:\\Users\\apost\\Desktop\\Python\\CL\\LendingClub\\Data')

df2 = pd.read_pickle('df2.pkl')
df3 = pd.read_pickle('df3.pkl')

df_test = pd.read_pickle('df_test.pkl')
df_OOT = pd.read_pickle('df_OOT.pkl')

df_test_XGB = pd.read_pickle('df_test_XGB.pkl')
df_OOT_XGB = pd.read_pickle('df_OOT_XGB.pkl')

display(HTML(df_test[0:5].to_html()))

In [4]:
df2_35793395 = df2.loc[df2['id'] == 35793395]
df3_35793395 = df3.loc[df3['id'] == 35793395]
df_test_35793395 = df_test.loc[df_test['id'] == 35793395]
# df_34923386 = df.loc[df['id'] == 34923386]

display(HTML(df2_35793395.to_html()))
display(HTML(df3_35793395.to_html()))
display(HTML(df_test_35793395.to_html()))

In [5]:
df = df2[['id','roa','issue_d','loan_amnt','life_of_loan_years','int_rate','fico_avg','grade','sub_grade','emp_length','home_ownership','annual_inc','dti','revol_util','acc_open_past_24mths','num_accts_ever_120_pd','purpose']].copy(deep = True)
df_test_pred = df_test[['id','target','target_pred']].copy(deep = True)
df_OOT_pred = df_OOT[['id','target','target_pred']].copy(deep = True)

In [6]:
df_comb = pd.merge(df_test_pred, df, how = 'left', left_on = 'id', right_on = 'id', copy = False)
df_comb['roa_num'] = (df_comb['roa'] * df_comb['loan_amnt'])

display(HTML(df_comb[0:5].to_html()))

In [7]:
#df_comb.to_csv('df_comb.csv',index = True,header = True, sep = ',')

# GradePvt = pivot_table(df_comb, values = 'roa_num')

In [8]:
df_comb_OOT = pd.merge(df_OOT_pred, df, how = 'left', left_on = 'id', right_on = 'id', copy = False)
df_comb_OOT['roa_num'] = (df_comb_OOT['roa'] * df_comb['loan_amnt'])

display(HTML(df_comb_OOT[0:5].to_html()))

In [9]:
df_comb['roa'].quantile([.1, .2, .4, .5, .6, .8, .9])

0.100   -17.737
0.200     2.988
0.400     5.741
0.500     6.765
0.600     7.847
0.800    10.497
0.900    12.754
Name: roa, dtype: float64

In [10]:
df_comb[['target_pred', 'grade', 'roa']].groupby(['target_pred','grade']).quantile([.1, .2, .4, .5, .6, .8, .9])

                            roa
target_pred grade
0           A     0.100   2.689
                  0.200   3.133
                  0.400   3.749
                  0.500   3.983
                  0.600   4.271
                  0.800   4.971
                  0.900   5.528
            B     0.100  -0.011
                  0.200   4.815
                  0.400   5.937
                  0.500   6.331
                  0.600   6.752
                  0.800   7.958
                  0.900   8.874
            C     0.100 -19.700
                  0.200   2.995
                  0.400   7.551
                  0.500   8.202
                  0.600   8.853
                  0.800  10.507
                  0.900  11.538
            D     0.100 -39.640
                  0.200  -1.910
                  0.400   8.704
                  0.500   9.352
                  0.600   9.880
                  0.800  11.828
                  0.900  13.103
            E     0.100 -60.892
                  0.200 -36.784
                  0.400   8.420
                  0.500  12.362
                  0.600  13.516
                  0.800  16.955
                  0.900  19.250
1           C     0.100 -19.719
                  0.200   1.532
                  0.400   9.662
                  0.500  10.461
                  0.600  11.284
                  0.800  12.688
                  0.900  13.646
            D     0.100 -40.111
                  0.200  -7.053
                  0.400   9.891
                  0.500  10.796
                  0.600  11.891
                  0.800  13.949
                  0.900  15.067
            E     0.100 -58.022
                  0.200 -20.501
                  0.400   8.187
                  0.500  11.721
                  0.600  13.483
                  0.800  16.770
                  0.900  18.696

In [11]:
df_comb[['target_pred', 'roa']].groupby('target_pred').quantile([.1, .2, .4, .5, .6, .8, .9])

                      roa
target_pred
0           0.100  -8.256
            0.200   3.417
            0.400   5.553
            0.500   6.435
            0.600   7.272
            0.800   9.181
            0.900  10.605
1           0.100 -48.121
            0.200 -11.472
            0.400   9.699
            0.500  11.035
            0.600  12.311
            0.800  14.888
            0.900  16.753

In [12]:
df_comb[['grade', 'roa']].groupby('grade').quantile([.1, .2, .4, .5, .6, .8, .9])

                roa
grade
A     0.100   2.689
      0.200   3.133
      0.400   3.749
      0.500   3.983
      0.600   4.271
      0.800   4.971
      0.900   5.528
B     0.100  -0.011
      0.200   4.815
      0.400   5.937
      0.500   6.331
      0.600   6.752
      0.800   7.958
      0.900   8.874
C     0.100 -19.701
      0.200   2.869
      0.400   7.601
      0.500   8.290
      0.600   9.016
      0.800  10.691
      0.900  11.769
D     0.100 -39.962
      0.200  -5.298
      0.400   9.100
      0.500   9.986
      0.600  10.930
      0.800  13.225
      0.900  14.408
E     0.100 -58.765
      0.200 -21.792
      0.400   8.221
      0.500  11.801
      0.600  13.489
      0.800  16.783
      0.900  18.811

In [13]:
df_comb[['roa']].quantile([.1, .2, .4, .5, .6, .8, .9])

          roa
0.100 -17.737
0.200   2.988
0.400   5.741
0.500   6.765
0.600   7.847
0.800  10.497
0.900  12.754

In [14]:
df_comb_OOT[['roa']].quantile([.1, .2, .4, .5, .6, .8, .9])

          roa
0.100 -29.700
0.200   0.529
0.400   4.499
0.500   5.565
0.600   6.562
0.800   9.148
0.900  11.292

In [15]:
df_comb2 = df_comb.loc[df_comb['grade'] != 'D']
df_comb2 = df_comb2.loc[df_comb['grade'] != 'E']

df_roa_num = df_comb2[['target_pred', 'grade', 'roa_num']].groupby(['target_pred','grade']).sum()
df_roa_num = df_roa_num.reset_index(level = 'target_pred', col_level = 0)
df_roa_num = df_roa_num.reset_index(drop = False)

df_loan_amnt = df_comb2[['target_pred', 'grade', 'loan_amnt']].groupby(['target_pred','grade']).sum()
df_loan_amnt = df_loan_amnt.reset_index(level = 'target_pred', col_level = 0)
df_loan_amnt = df_loan_amnt.reset_index(drop = False)

df_comb_summ = pd.merge(df_roa_num, df_loan_amnt, how = 'left', left_on = None, right_on = None, copy = False)
df_comb_summ['roa'] = df_comb_summ['roa_num'] / df_comb_summ['loan_amnt']

display(HTML(df_comb_summ[['grade','target_pred','roa']].to_html()))

In [16]:
df_comb2 = df_comb.loc[df_comb['grade'] != 'D']
df_comb2 = df_comb2.loc[df_comb2['grade'] != 'E']

df_roa_num = df_comb2[['target_pred', 'roa_num']].groupby(['target_pred']).sum()
df_roa_num = df_roa_num.reset_index(level = 'target_pred', col_level = 0)
df_roa_num = df_roa_num.reset_index(drop = False)

df_loan_amnt = df_comb2[['target_pred','loan_amnt']].groupby(['target_pred']).sum()
df_loan_amnt = df_loan_amnt.reset_index(level = 'target_pred', col_level = 0)
df_loan_amnt = df_loan_amnt.reset_index(drop = False)

df_comb_summ = pd.merge(df_roa_num, df_loan_amnt, how = 'left', left_on = None, right_on = None, copy = False)
df_comb_summ['roa'] = df_comb_summ['roa_num'] / df_comb_summ['loan_amnt']

display(HTML(df_comb_summ[['target_pred','roa']].to_html()))

In [17]:
df_roa_num = df_comb_OOT[['target_pred', 'grade', 'roa_num']].groupby(['target_pred','grade']).sum()
df_roa_num = df_roa_num.reset_index(level = 'target_pred', col_level = 0)
df_roa_num = df_roa_num.reset_index(drop = False)

df_loan_amnt = df_comb_OOT[['target_pred', 'grade', 'loan_amnt']].groupby(['target_pred','grade']).sum()
df_loan_amnt = df_loan_amnt.reset_index(level = 'target_pred', col_level = 0)
df_loan_amnt = df_loan_amnt.reset_index(drop = False)

df_comb_summ = pd.merge(df_roa_num, df_loan_amnt, how = 'left', left_on = None, right_on = None, copy = False)
df_comb_summ['roa'] = df_comb_summ['roa_num'] / df_comb_summ['loan_amnt']

display(HTML(df_comb_summ[['grade','target_pred','roa']].to_html()))

In [18]:
df_comb_OOT2 = df_comb_OOT.loc[df_comb_OOT['grade'] != 'D']
df_comb_OOT2 = df_comb_OOT2.loc[df_comb_OOT2['grade'] != 'E']

df_roa_num = df_comb_OOT2[['target_pred', 'grade', 'roa_num']].groupby(['target_pred','grade']).sum()
df_roa_num = df_roa_num.reset_index(level = 'target_pred', col_level = 0)
df_roa_num = df_roa_num.reset_index(drop = False)

df_loan_amnt = df_comb_OOT2[['target_pred', 'grade', 'loan_amnt']].groupby(['target_pred','grade']).sum()
df_loan_amnt = df_loan_amnt.reset_index(level = 'target_pred', col_level = 0)
df_loan_amnt = df_loan_amnt.reset_index(drop = False)

df_comb_summ = pd.merge(df_roa_num, df_loan_amnt, how = 'left', left_on = None, right_on = None, copy = False)
df_comb_summ['roa'] = df_comb_summ['roa_num'] / df_comb_summ['loan_amnt']

display(HTML(df_comb_summ[['grade','target_pred','roa']].to_html()))

In [19]:
df_comb_OOT2 = df_comb_OOT.loc[df_comb_OOT['grade'] != 'D']
df_comb_OOT2 = df_comb_OOT2.loc[df_comb_OOT2['grade'] != 'E']

df_roa_num = df_comb_OOT2[['target_pred', 'roa_num']].groupby(['target_pred']).sum()
df_roa_num = df_roa_num.reset_index(level = 'target_pred', col_level = 0)
df_roa_num = df_roa_num.reset_index(drop = False)

df_loan_amnt = df_comb_OOT2[['target_pred', 'loan_amnt']].groupby(['target_pred']).sum()
df_loan_amnt = df_loan_amnt.reset_index(level = 'target_pred', col_level = 0)
df_loan_amnt = df_loan_amnt.reset_index(drop = False)

df_comb_summ = pd.merge(df_roa_num, df_loan_amnt, how = 'left', left_on = None, right_on = None, copy = False)
df_comb_summ['roa'] = df_comb_summ['roa_num'] / df_comb_summ['loan_amnt']

display(HTML(df_comb_summ[['target_pred','roa']].to_html()))

In [20]:
end_time = time.time()

diff = end_time - begin_time

print("run time ...", "\n")
print(diff, "seconds")
print(diff / 60, "minutes")
print(diff / 3600, "hours")

run time ...

2.6234662532806396 seconds
0.04372443755467733 minutes
0.0007287406259112888 hours